@import "tailwindcss";
@import "./token.css";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

/* Force light mode */
html {
  color-scheme: light;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.container-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
